body {
  margin: 0;
  padding: 0;
  
  font-family: sans-serif
}

.form-control  label,
.form-control  textarea,
.form-control  input{
    width: 100%;
    display: block;
}
.form-control{
    margin-bottom: 1rem; 
}
.form-control label{
    margin-bottom: 0.5rem; 
}

.form-actions button,
.btn {
    background-color: #a6aace;
    font: inherit;
    border: 1px solid #a6aace;
    border-radius: 3px;
    padding: 0.25rem 1rem;
    margin-right:  1rem;
    box-shadow: 1px 1px 5px #3f3f42;
    color: white;
    cursor: pointer;
}
.form-actions button:hover,
.form-actions btn:hover,
.form-actions btn:active,
.form-actions button:active{
    background: #343ea5;
    border: 1px solid #707bdf;

}
